.productpage
{
background-color:#ffffff;
height:1024px;
width:1440px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:relative;
}
.pageheading
{
background-color:#ffffff;
height:149px;
width:1440px;
align-self:flex-start;
top:112px;
left:0px;
position:absolute;
padding:0px;
}
.defaultchip
{
background-color:#426b1f;
height:40px;
width:88px;
border-radius:20px;
padding-left:16px;
padding-right:16px;
padding-top:10px;
padding-bottom:10px;
left:1077px;
top:76px;
position:relative;
}
.default2
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
top:9.5px;
left:16px;
position:absolute;
width:56px;
}
.a-zchip
{
background-color:#ffffff;
height:40px;
width:62px;
border-radius:20px;
padding-left:16px;
padding-right:16px;
padding-top:10px;
padding-bottom:10px;
left:1173px;
top:76px;
position:relative;
}
.a-z2
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
top:9.5px;
left:16px;
position:absolute;
width:30px;
}
.listchip
{
background-color:#ffffff;
height:40px;
width:101px;
border-radius:20px;
padding-left:16px;
padding-right:16px;
padding-top:10px;
padding-bottom:10px;
left:1243px;
top:76px;
position:relative;
}
.listview
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
top:9.5px;
left:16px;
position:absolute;
width:69px;
}
.fresh—august21,2023
{
color:#000000;
text-align:left;
vertical-align:text-bottom;
font-size:20px;
left:347px;
top:90px;
width:248px;
height:26px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
}
.produce
{
color:#000000;
text-align:left;
vertical-align:text-bottom;
font-size:64px;
font-family:Newsreader;
left:96px;
top:56px;
width:227px;
height:77px;
position:absolute;
letter-spacing:-2px;
line-height:120.00000476837158px;
border-style:hidden;
outline:none;
}
.divider
{
width:1248px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
transform:rotate(-1deg);
border:2px solid #e6e6e6;
top:149px;
left:96px;
position:absolute;
}
.navigation
{
height:112px;
width:1440px;
padding:0px;
position:absolute;
}
.worldpeas
{
color:#426b1f;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Newsreader;
letter-spacing:-1px;
line-height:100px;
border-style:hidden;
outline:none;
left:96px;
top:41px;
position:absolute;
width:151px;
}
.shop
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
left:744px;
top:45.5px;
width:39px;
height:21px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
}
.newstand
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
left:831px;
top:45.5px;
width:77px;
height:21px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
}
.whoweare
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
left:956px;
top:45.5px;
width:90px;
height:21px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
}
.myprofile
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
left:1094px;
top:45.5px;
width:76px;
height:21px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
}
.cartbutton
{
background-color:#426b1f;
height:48px;
width:126px;
border-radius:8px;
padding-left:23px;
padding-right:23px;
padding-top:14px;
padding-bottom:14px;
left:1218px;
top:32px;
position:relative;
}
.basket-3
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
top:13.5px;
left:23px;
position:absolute;
width:80px;
}
.tomato
{
background-color:#fafaf5;
height:444px;
width:395px;
align-self:flex-start;
left:96px;
top:301px;
position:absolute;
border-radius:24px;
padding:0px;
}
.heirloomtomato
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:24px;
top:320px;
width:162px;
height:26px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
}
.$5.99-lb
{
color:#426b1f;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:24px;
top:350px;
width:92px;
height:26px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
}
.growninsanjuancapistrano,ca
{
color:#6d6d6d;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:24px;
top:392px;
width:259px;
height:24px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
}
.ed-o-neil-avvdzlhdowa-unsplash1
{
height:296px;
width:395px;
}
.ginger
{
background-color:#fafaf5;
height:444px;
width:395px;
align-self:flex-start;
left:523px;
top:301px;
position:absolute;
border-radius:24px;
padding:0px;
}
.organicginger
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:24px;
top:320px;
width:144px;
height:26px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
}
.$12.99-lb
{
color:#426b1f;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:24px;
top:350px;
width:102px;
height:26px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
}
.growninhuntingtonbeach,ca
{
color:#6d6d6d;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:24px;
top:392px;
width:239px;
height:24px;
position:absolute;
line-height:150px;
border-style:hidden;
outline:none;
}
.noonbrew-zicb4_ekmak-unsplash
{
height:296px;
width:395px;
}
